<%- include('segment/header') %>

<div class="ui grid">
    <% archives.forEach(function(item) { %>
        <div class="row">
            <div class="four wide column right aligned">
                <h2><%= item.yearMonth %></h2>
            </div>
            <div class="twelve wide column">
                <div class="ui list">
                    <% item.titles.forEach(function(title) { %>
                        <div class="item">
                            <%= title.created_at %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a class="item" href="/posts/<%= title._id %>"><%= title.title %></a>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
    <% }) %>
</div>

<%- include('segment/footer') %>
