<%- include('segment/header') %>
<div class="ui grid">
  <div class="three wide column">
    <a class="avatar"
       href="/posts?author=<%= user._id %>"
       data-title="<%= user.name %> | <%= ({m: '男', f: '女', x: '保密'})[user.gender] %>"
       data-content="<%= user.bio %>">
      <img class="avatar" src="/images/<%= user.avatar %>">
    </a>
  </div>

  <div class="ten wide column">
    <div class="ui attached message">
      <div class="header">
        写一篇博客
      </div>
      <p>输入文章标题，内容以及标签，支持Markdown语法</p>
    </div>
    <form class="ui form segment" method="post" action="/posts/<%= post._id %>/edit">
      <div class="field required">
        <label>标题</label>
        <input id="title" type="text" name="title" value="<%= post.title %>">
      </div>
      <div class="field required">
        <label>内容</label>
        <textarea id="srcText" name="content" rows="15"><%= post.content %></textarea>
        <input id="inputTag" type="hidden" name="tags">
        <div id="previewText" style="background-color:#dededf; overflow:auto; word-break:break-all; height:300px; border-radius:5px;  margin-top:10px; padding:10px; display:none;"></div>
      </div>
      <div class="field required">
        <label class="required">标签</label>
          <% blog.tags.forEach(function(tag) { %>
            <a class="ui green tag label"><%= tag %></a>
          <% })%>
      </div>
      <div>
        <input type="submit" class="ui button" value="发布">
        <a id="previewBtn" href="">预览</a>
      </div>
    </form>
    <div class="ui bottom attached warning message" style="display:none">
  </div>
</div>
<script src="/javascripts/thirdparty/marked.min.js"></script>
<script src="/javascripts/preview.js"></script>
<script src="/javascripts/create.js"></script>
<%- include('segment/footer') %>