<%- include('segment/header') %>
<link rel="stylesheet" href="/stylesheets/github-markdown.min.css">
<div class="markdown-body">
<%- include('segment/post-content') %>
</div>
<%- include('segment/delete-post-modal') %>
<%- include('segment/duoshuo-comment') %>
<%- include('segment/footer') %>
