<%- include('segment/header') %>
<% posts.forEach(function(post) { %>
  <%- include('segment/post-content', { post: post }) %>
<% }) %>
<div class="pagebuttons">
    <% if (pageNumbers.length > 1) { %>
      <div class="ui center aligned container">
          <div class="ui small pagination menu">

              <a class="icon item no-hover-bottom" value="1">
                <i class="angle double left icon"></i>
              </a>
                <% pageNumbers.forEach(function(number) { %>
                <% if (number === 0) { %>
                  <div class="disabled item no-hover-bottom">...</div>
                    <% } else if (number === page) { %>
                  <a class="active item no-hover-bottom"><%= number %></a>
                    <% } else { %>
                  <a class="item no-hover-bottom"><%= number %></a>
                    <% } %>
                <% }) %>
              <a class="icon item no-hover-bottom" value=<%= lastPage %>>
                <i class="angle double right icon"></i>
              </a>
          </div>
      </div>
    <% } %>
</div>
<%- include('segment/delete-post-modal') %>
<script src="/javascripts/posts.js"></script>
<%- include('segment/footer') %>