<div class="post-content">
  <div class="ui grid">
    <div class="three wide column">
      <a class="avatar"
         href="/posts?author=<%= post.author._id %>"
         data-title="<%= post.author.name %> | <%= ({m: '男', f: '女', x: '保密'})[post.author.gender] %>"
         data-content="<%= post.author.bio %>">
        <img class="avatar" src="/images/<%= post.author.avatar %>">
      </a>
    </div>
    <div class="eleven wide column">
      <div class="ui segment">
        <h3><a href="/posts/<%= post._id %>"><%= post.title %></a></h3>
        <div class="markdown-body">
            <%- post.content %>
        </div>
        <div class="post-content-footer">
          <span class="tag"><%= post.created_at %></span>
          <i class="tags icon"></i>
          <div class="ui breadcrumb">
            <% for (var i = 0; i < post.tags.length; i++) { %>
              <% if (post.tags[i].length > 0) { %>
                <span class="ui mini label">
                  <a class="no-hover-bottom" href="/tags/<%= encodeURIComponent(post.tags[i]) %>"><%= post.tags[i] %></a>
                </span>
            <% }} %>
          </div>
          <span class="tag right">
            <span>浏览(<%= post.pv || 0 %>)</span>

            <% if (user && post.author._id && user._id.toString() === post.author._id.toString()) { %>
              <div class="ui inline dropdown">
                <!-- <div class="text"></div> -->
                <i class="dropdown icon"></i>
                <div class="menu">
                  <div class="item"><a href="/posts/<%= post._id %>/edit">编辑</a></div>
                  <div class="item"><a class="remove" href="/posts/<%= post._id %>/remove">删除</a></div>
                </div>
              </div>
            <% } %>

          </span>
        </div>
      </div>
    </div>
  </div>
</div>

